{% extends 'escritorioUsuario.html.twig' %}
  {% block homeEscritorio %}
    <h2 id="escritorioUsuarioTitulo">{{ escritorio.titulo }}</h2>
    <p id="escritorioUsuarioDescripcion">{{ escritorio.descripcion }}</p>
  {% endblock %}