<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Contraseña</th>
            <th>Administrador</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <form action="../Controller/insertarAccion.php" method="post">
                <td>
                    <input type="text" name="idUsuario" placeholder="ID..." required="required" autofocus="autofocus">
                </td>
                <td>
                    <input type="text" name="nombre" placeholder="Nombre..." required="required">
                </td>
                <td>
                    <input type="text" name="clave" placeholder="Contraseña..." required="required">
                </td>
                <td>
                    <input type="checkbox" name="permisoAdmin" value="true">
                </td>
                <td colspan="2">
                    <button class="btn waves-effect waves-light" type="submit">
                  <i class="material-icons">add</i>
                </button>
                </td>
            </form>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <td>
                <?= $usuario->getIdUsuario() ?>
            </td>
            <td>
                <?= $usuario->getNombre() ?>
            </td>
            <td>
                <?= $usuario->getClave() ?>
            </td>
            <td>
                <?php 
              if ($usuario->getAdministrador()) {
                echo '<input type="checkbox" name="permisoAdmin" value="true" disabled="disabled" checked="checked">';

              } else {
                echo '<input type="checkbox" name="permisoAdmin" value="false" disabled="disabled">';

              }
              ?>
            </td>
            <td>
                <form action="../Controller/gestorContenido.php" method="post">
                    <input type="hidden" name="idUsuario" value="<?= $usuario->getIdUsuario() ?>">
                    <input type="hidden" name="accion" value="editar">
                    <input type="submit" value="Actualizar">
                </form>
            </td>
            <td>
                <form action="../Controller/borrarAccion.php" method="post">
                    <input type="hidden" name="idUsuario" value="<?= $usuario->getIdUsuario() ?>">
                    <input type="submit" value="Borrar">
                </form>
            </td>
        </tr>
    </tbody>
</table>